.mainTitle {
  font-family: 'Arial', sans-serif;
  color: #333;
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.location p, .location select {
  margin-right: 10px;
}


.weather {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: 0 auto;
}

.weather select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.data {
  margin-top: 20px;
}

.data span {
  display: block;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 5px;
}