/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #2b5876, #4e4376);
  color: #FFFFFF;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 25px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

/* Estilos del encabezado */
.header {
  text-align: center;
  padding: 20px 0;
}

.header h1 {
  margin: 0;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 5px;
}

/* Estilos del cuerpo principal */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.weather {
  text-align: center;
  margin-top: 50px;
}

.weather h2 {
  font-size: 2.5em;
  margin: 0;
}

.weather p {
  font-size: 1.2em;
  margin: 0;
}

/* Estilos del pie de página */
.footer {
  text-align: center;
  padding: 30px 0;
  font-size: 0.9em;
}